body {
  background-image: url("assets/images/oscarBackground.jpg");
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  text-align: center;
}

h1,
h3 {
  align-content: center;
  text-align: center;
}

#questionBlock {
  margin-top: 220px;
}

.question {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border: solid;
  border-color: darkblue;
  width: 80%;
  padding: 20px;
  background: lightgoldenrodyellow;
}

img {
  max-height: 200px;
}

.unfixedFooter {
  align-content: center;
  text-align: center;
}
